{
  "presets": [["vue"]],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]]
    }
  }
}
