<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target="_parent">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css">
  <script>
    if (window.parent !== window) {
      window.__VUE_DEVTOOLS_GLOBAL_HOOK__ = window.parent.__VUE_DEVTOOLS_GLOBAL_HOOK__;
      window.parent.__VUE_DEVTOOLS_CONTEXT__ = window.document;
    }
    </script>
  <!-- <script src="http://localhost:8098"></script> -->
  <title>Storybook</title>
</head>

<body>

  <div data-app="true" class="application theme--light" id="app">
    <div class="application--wrap">
      <div id="root"></div>
    </div>
  </div>
  <div id="error-display"></div>
</body>

</html>